.node-container {
  /* height: 50px; */
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  background: white;
  width: 233px;
  min-height: 50px;
}

.node-title {
  display: block;
  color: black;
  font-size: 14px;
  margin: 5px;
  background: #d9d9d9;
  text-align: left;
}

.node-content {
  font-size: 12px;
  background-color: white;
  min-height: 40px;
  margin: 2px;
  padding: 0px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading-container {
  display: flex;
  justify-content: space-between;
  background: #d9d9d9;
}

.close-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.action-btn-container {
  display: flex;
  justify-content: end;
}

.configure-btn {
  margin: 2px 0px !important;
}

.node-body {
  background: #F2F2F2;
  margin: 1px 0px;
  padding: 12px;
}

.select-intent-text {
  text-decoration: underline;
  cursor: pointer;
}